# DataFrame Apply
1. Run the cell below to setup this lab.

In [1]:
import pandas as pd
data = { 'even': range(20,0,-2),
         'odd':  range(1,21,2)
       }
df = pd.DataFrame(data)
df

   even  odd
0    20    1
1    18    3
2    16    5
3    14    7
4    12    9
5    10   11
6     8   13
7     6   15
8     4   17
9     2   19

2. The Python Standard Library includes a built-in funciton `max()`, which returns the maximun value of an iterable input. Use the DataFrame `.apply()` method to get the maximum value of each column.

In [4]:
df.apply(max)

even    20
odd     19
dtype: int64

3. Now use the `axis=1` argument with apply to get the maximum value of each row.

In [5]:
df.apply(max, axis = 1)

0    20
1    18
2    16
3    14
4    12
5    11
6    13
7    15
8    17
9    19
dtype: int64

4. Complete the function below so that it will return `True` if the odd value is greater than the even one.

In [6]:
def odd_bigger(row):
    if row['odd'] > row['even']:
        return True
    return False

5. Apply this function to `df` with the axis argument set to 1 to run it on each row.

In [7]:
df.apply(odd_bigger, axis = 1)

0    False
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
9     True
dtype: bool

6. Now use the output values to create a new column, 'Odd Bigger' and view `df` to confirm that the values are correct.

In [11]:
df['Odd Bigger'] = df.apply(odd_bigger, axis = 1) 
df

   even  odd  Odd Bigger
0    20    1       False
1    18    3       False
2    16    5       False
3    14    7       False
4    12    9       False
5    10   11        True
6     8   13        True
7     6   15        True
8     4   17        True
9     2   19        True