# Looking at DataFrame Data

1. Run the cell below to import required libraries and create a DataFrame

In [2]:
import pandas as pd
import numpy as np
import random

num_rows = 100
colors = ['Red', 'Blue', 'Green']

df = pd.DataFrame( {'color': [colors[random.randint(0,2)] for _ in range(num_rows)],
                    'integers': [random.randint(0,15) for _ in range(num_rows)],
                    'floats': [random.random() for _ in range(num_rows)]})
df

    color  integers    floats
0     Red         7  0.855741
1   Green         1  0.026072
2   Green         7  0.727166
3   Green         5  0.735448
4     Red        12  0.690339
..    ...       ...       ...
95    Red        12  0.467118
96  Green         4  0.101661
97   Blue         0  0.433223
98   Blue         3  0.911180
99    Red         0  0.918255

[100 rows x 3 columns]

2. Use the DataFrame `head()` method to view the top five rows. Try giving it a number as an argument to control how many rows are displayed.

In [3]:
df.head(7)

   color  integers    floats
0    Red         7  0.855741
1  Green         1  0.026072
2  Green         7  0.727166
3  Green         5  0.735448
4    Red        12  0.690339
5    Red         8  0.530814
6    Red        12  0.811926

3. View summary statistics using the DataFrame `describe()` method.

In [4]:
df.describe()

         integers      floats
count  100.000000  100.000000
mean     7.470000    0.504471
std      4.879259    0.288310
min      0.000000    0.002809
25%      3.000000    0.272427
50%      8.000000    0.524230
75%     12.000000    0.736503
max     15.000000    0.977245

4. The `decribe()` method accepts some optional arguments, including 'include' and 'exclude'. By default, `describe()` only shows statistics for columns with numerical data, but if you add the argument `include=np.object`, it will display statistics for columns with string data. Try this.

In [5]:
df.describe(include=np.object)

        color
count     100
unique      3
top     Green
freq       39

5. If you change the argument to `include='all'`, it will display statistics for all columns in the data frame, inserting `NaN` (not a number) when the data type is not appropriate for the statistic. Try viewing statistics for all frames using `describe()`.

In [6]:
df.describe(include='all')

        color    integers      floats
count     100  100.000000  100.000000
unique      3         NaN         NaN
top     Green         NaN         NaN
freq       39         NaN         NaN
mean      NaN    7.470000    0.504471
std       NaN    4.879259    0.288310
min       NaN    0.000000    0.002809
25%       NaN    3.000000    0.272427
50%       NaN    8.000000    0.524230
75%       NaN   12.000000    0.736503
max       NaN   15.000000    0.977245

## Selecting Data
6. You can select a column using bracket syntax very similar to that used with dictionaries. Put the column name, as a string, in brackets after the DataFrame name. Try this with the column 'color'

In [7]:
df['color']

0       Red
1     Green
2     Green
3     Green
4       Red
      ...
95      Red
96    Green
97     Blue
98     Blue
99      Red
Name: color, Length: 100, dtype: object

7. Try selecting the columns 'color' and 'floats' by supplying them as a list of strings in the same bracket syntax.

In [8]:
df[['color','floats']]

    color    floats
0     Red  0.855741
1   Green  0.026072
2   Green  0.727166
3   Green  0.735448
4     Red  0.690339
..    ...       ...
95    Red  0.467118
96  Green  0.101661
97   Blue  0.433223
98   Blue  0.911180
99    Red  0.918255

[100 rows x 2 columns]

8. The bracket syntax in DataFrames is overloaded to select rows as well. Selecting rows uses the syntax we used to select slices in Sequences: a start number, a colon, and an upper bound number. Try selecting three rows from the DataFrame using the slice `10:13`

In [9]:
df[10:13]

    color  integers    floats
10  Green         4  0.763997
11  Green        14  0.671943
12  Green        11  0.529582

9. Now let's try the `.loc[]` syntax. It also uses bracket syntax, but in this case you will specify both rows and columns to select. Select all of the rows by supplying a lone colon as the first argument, and the column 'color' by supplying it as a second argument (remember that arguments must be separted by a comma).

In [10]:
df.loc[:,'color']

0       Red
1     Green
2     Green
3     Green
4       Red
      ...
95      Red
96    Green
97     Blue
98     Blue
99      Red
Name: color, Length: 100, dtype: object

10. Now specify a slice, `10:13`, for the first argument and a list of columns, `['color', 'integers']`, as a second, to select **four** rows (the upper bound in `loc[]` is included) and two columns.

In [11]:
df.loc[10:13 , ['color', 'integers']]

    color  integers
10  Green         4
11  Green        14
12  Green        11
13  Green         1

11. Now try the `iloc[]` syntax. This used the position of rows and columns to determine selection. In this DataFrame, the labels for the rows are the same as their position, so we can use the same slice `10:13` as the first argument. For the second, use the slice `0:2` to select the first two columns. Notice that with `iloc[]`, the upper bound is not inclusive, so you will get three rows and two columns.

In [12]:
df.iloc[10:13 , 0:2]

    color  integers
10  Green         4
11  Green        14
12  Green        11